.navbar {
  left: 0;
  right: 0;
  position: fixed;
  margin: 0 auto;
  top: 0;
  display: grid;
  max-width: 1600px;
  grid-template-columns: auto auto auto 1fr auto auto;
  grid-gap: 0.5em;
  justify-items: center;
  align-items: center;
  padding: 0 1em;
  padding-top: 0.3em;
  background: white;
  border-bottom: 1px solid rgb(204, 204, 204);
  background: white;
}

.nav-link {
  color: black;
  font-weight: 600;
}

.nav-times {
  padding-right: 3em;
}

.nav-sub {
  background: #6288a5;
  color: white;
  border: 1px solid #326891;
  font-size: 11px;
  font-weight: 700;
  border-radius: 3px;
  padding: 10px 15px;
}

a {
  text-decoration: none;
}

.article-grid {
  color: #121212;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 2.25rem;
  margin-top: 100px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.article-heading {
  grid-column: 2 / 5;
}

.main-img-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-img {
  grid-column: 2;
}

.main-img > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.caption {
  font-size: 15px;
  color: gray;
  margin-bottom: 2px;
}

.text-container {
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  grid-column-gap: 5px;
}

.text {
  grid-column: 2;
  margin-top: 30px;
}

h4 > a {
  color: black;
}

.icons-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icons {
  justify-self: end;
}

.main-text {
  font-size: 22px;
  line-height: 1.5;
  justify-self: center;
  color: #353434;
}

.extra-hard-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-column-gap: 5px;
}

.center-part {
  grid-column: 2;
}

.center-part > h3 {
  color: #353434;
  margin-bottom: 0px;
}

.center-part > small {
  color: #353434;
}

.image-with-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 800px;
  width: 800px;
  margin: 0 auto;
}

.image-with-text > img {
  grid-column: 1 / span 4;
  grid-row: 1 / span 17;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  z-index: -1;
  justify-self: center;
}

.first {
  grid-column: 1;
  grid-row: 6 / span 5;
  font-size: 13px;
  margin: 0;
}

.second {
  grid-column: 2;
  grid-row: 6 / span 5;
  font-size: 13px;
  margin: 0;
}

.third {
  grid-column: 3;
  grid-row: 6 / span 5;
  font-size: 13px;
  margin: 0;
}

.fourth {
  grid-column: 4 / span 1;
  grid-row: 6 / span 5;
  font-size: 13px;
  margin: 0;
}

.fifth {
  grid-column: 1;
  grid-row: 14 / span 5;
  font-size: 13px;
  margin: 0;
}

.sixth {
  grid-column: 2 / span 1;
  grid-row: 14 / span 5;
  font-size: 13px;
  margin: 0;
}

.seventh {
  grid-column: 3 / span 1;
  grid-row: 14 / span 5;
  font-size: 13px;
  margin: 0;
}

.eight {
  grid-column: 4 / span 1;
  grid-row: 14 / span 5;
  font-size: 13px;
  margin: 0;
}
.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.comment-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}


.reccomended_articles_container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  margin-top: 100px;
}

.more-in {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-column-gap:10px;
}


.more-images {
  grid-column: 1;
}

.recommended-text {
  grid-column: 2;
}

.more-article-images {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}


.more-art-img {
  grid-gap: 10px;
  overflow: hidden;
  box-sizing: border-box;
  word-break: break-all;




}


.more-art-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  cursor: pointer;

}

.more-art-img p {
    cursor: pointer;
}
