.navbar {
  left: 0;
  right: 0;
  position: fixed;
  margin: 0 auto;
  top: 0;
  display: grid;
  max-width: 1600px;
  grid-template-columns: auto auto auto 1fr auto auto;
  grid-gap: 0.5em;
  justify-items: center;
  align-items: center;
  padding: 0 1em;
  padding-top: 0.3em;
  background: white;
  border-bottom: 1px solid rgb(204, 204, 204);
  background: white;
}

.nav-link {
  color: black;
  font-weight: 600;
}

.nav-times {
  padding-right: 3em;
}

.nav-sub {
  background: #6288a5;
  color: white;
  border: 1px solid #326891;
  font-size: 11px;
  font-weight: 700;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.article-grid {
  color: #121212;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 2.25rem;
  margin-top: 100px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.article-heading {
  grid-column: 2 / 5;
}

.main-img-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-img {
  grid-column: 2;
}

.main-img>img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.caption {
  font-size: 15px;
  color: gray;
  margin-bottom: 2px;
}

.text-container {
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
}

.side2 {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  padding-left: 60px;
  width: 200px;
}

.text {
  grid-column: 2;
  margin-top: 30px;
  grid-row: 1;
}

.side {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  padding-left: 60px;
  width: 200px;
}

.side-nav-sub {
  background: #6288a5;
  color: white;
  border: 1px solid #326891;
  font-size: 11px;
  font-weight: 700;
  border-radius: 3px;
  padding: 10px 75px;
  cursor: pointer;
}

h4>a {
  color: black;
}

.icons-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icons {
  justify-self: end;
}

.main-text {
  font-size: 22px;
  line-height: 1.5;
  justify-self: center;
  color: #353434;
}

.extra-hard-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-column-gap: 5px;
}

.center-part {
  grid-column: 2;
}

.center-part>h3 {
  color: #353434;
  margin-bottom: 0px;
}

.center-part>small {
  color: #353434;
}

.image-with-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 800px;
  width: 800px;
  margin: 0 auto;
  grid-gap: 10px;
}

.image-with-text>img {
  grid-column: 1 / span 4;
  grid-row: 1 / span 17;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  z-index: -1;
  justify-self: center;
}

.first {
  grid-column: 1;
  grid-row: 6 / span 5;
  font-size: 13px;
  margin: 0;
}

.second {
  grid-column: 2;
  grid-row: 6 / span 5;
  font-size: 13px;
  margin: 0;
}

.third {
  grid-column: 3;
  grid-row: 6 / span 5;
  font-size: 13px;
  margin: 0;
}

.fourth {
  grid-column: 4 / span 1;
  grid-row: 6 / span 5;
  font-size: 13px;
  margin: 0;
}

.fifth {
  grid-column: 1;
  grid-row: 14 / span 5;
  font-size: 13px;
  margin: 0;
}

.sixth {
  grid-column: 2 / span 1;
  grid-row: 14 / span 5;
  font-size: 13px;
  margin: 0;
}

.seventh {
  grid-column: 3 / span 1;
  grid-row: 14 / span 5;
  font-size: 13px;
  margin: 0;
}

.eight {
  grid-column: 4 / span 1;
  grid-row: 14 / span 5;
  font-size: 13px;
  margin: 0;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.comment-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.reccomended_articles_container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 100px;
}

.more-in {
  grid-column: 2;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  max-width: 1200px;
  justify-self: center;
}

.more-images {
  grid-column: 1;
}

.recomended-links {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.more-article-images {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.more-art-img {
  grid-gap: 10px;
  box-sizing: border-box;
  margin: 0;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 17px;
}

.light {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 17px;
}

.more-art-img img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: contain;
  cursor: pointer;
  margin-top: 0;
}

.more-art-img p {
  cursor: pointer;
}

.light {
  color: lightgray;
  opacity: 0.5;
}

.recomended-links h3 {
  font-weight: 500;
}

.more-images small {
  color: lightgray;
}

.more-images p {
  margin-bottom: 0;
}

.footer-container {
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0;
}

.footer-sections a {
  text-decoration: none;
  color: #121212;
}

.footer-heading-container {}

.sections-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  border-top: 2px solid gray;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 500;
  line-height: 0.8;
  font-size: 13px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.footer-sections {
  grid-row: 2;
}

.times-footer {
  grid-column: 1 / span 2;
  margin-top: 5px;
}

.go-home {
  grid-column: 6;
  justify-content: right;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  font-size: 11px;
}

.go-home a {
  color: #121212;
  text-decoration: none;
}

#footer-subscribe {
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.subscribe-bold {
  font-weight: bolder;
  font-size: 13px;
}

.subscribe-small {
  font-size: 11px;
  line-height: 1;
}

.css-r5ic95 {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.terms-footer a {
  text-decoration: none;
  font-size: 11px;
  color: rgb(153, 153, 153);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  display: inline;
  margin-right: 10px;
}

.terms-footer {
  width: 900px;
  margin: 0 auto;
  padding: 5px;
}

.editors-picks {
  display: grid;
  grid-template-columns: 0.8 1.2fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.editors-picks>img {
  grid-row: 1;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.editors-picks>a {
  grid-row: 1;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.you-video {
  width: 100%;
  height: 400px;
}