.navbar {

    left: 0;
    right: 0;
    position: fixed;
    margin: 0 auto;
    top: 0;
    display: grid;
    max-width: 1600px;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-gap: 0.5em;
    justify-items: center;
    align-items: center;
    padding: 0 1em;
    padding-top: .3em;
    background: white;
    border-bottom: 1px solid rgb(204, 204, 204);
    background: white;
}

.nav-link {
    color: black;
    font-weight: 600;
}

.nav-times {
    padding-right: 3em;
}

.nav-sub {
    background: #6288a5;
    color: white;
    border: 1px solid #326891;
    font-size: 11px;
    font-weight: 700;
    border-radius: 3px;
    padding: 10px 15px;
}

a {
    text-decoration: none;
}

.article-grid {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 2.25rem;
  margin-top: 100px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.article-heading {
  grid-column: 2 / 2;
}

.main-img {

  grid-column: 2;

}

.main-img-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  min-height: 80%;
}
